html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, button {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
}

button:hover {
    background-color: red;
}

body {
    font-family: Montserrat;
    line-height: 1;
    background-color: #fefff8;
    color: #530404;
}

header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 10px 5px;
}

main {
    margin: 10px 5px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: 5%;
}

div.tableElement {
    padding: 7px 1.7%;
    width: 90%;
    margin: 20px 10px 5px;
    border: 3px dotted transparent;
}

.dotted {
    border: black dotted 3px !important;
}

div.clouds {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-left: 7px;
}

input {
    border: none;
    border-radius: 5px;
    color: lightyellow;
    background-color: darksalmon;
    height: 100%;
    width: 70%;
    font-family: inherit;
    font-size: 3vw;
    font-weight: 400;
    padding-left: 12px;
}

input::placeholder {
    color: lightyellow;
}

h1 {
    font-weight: 400;
    font-size: 6vw;
}

h2 {
    font-weight: 700;
    font-size: 8vw;
    margin-bottom: 7px;
}

h2.fav {
    font-weight: 400;
    font-size: 6vw;
}

h3 {
    font-weight: 700;
    font-size: 6vw;


}

div.mainTemp {
    font-weight: 300;
    font-size: 9vw;
}

div.nameBar {
    display: flex;
    margin-bottom: 5px;
    align-items: center;
    justify-content: space-between;
}

div.nameContent {
    display: flex;
    align-items: center;
    width: 80%;
}

span.temp {
    font-weight: 300;
    font-size: 7vw;
    margin-left: 3%;
    float: right;
}

ul.weatherInfo {
    font-size: 3vw;
}

li.infoElement {
    display: flex;
    justify-content: space-between;
    color: lightyellow;
    background-color: darksalmon;
    margin-bottom: 4px;
    padding: 6px 12px;
}

button {
    font-weight: 300;
    border: none;
    border-radius: 50%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

button.plus {
    float: right;
    font-size: 5vw;
    width: 6vw;
    height: 6vw;
}

button.close {
    font-size: 5vw;
    width: 6vw;
    height: 6vw;
}

button.geo {
    width: 6vw;
    height: 6vw;
}

div.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

div.title {
    margin: auto 10px;
}

div.geo {
    width: 6vw;
    height: 6vw;
}

span.geoLaptop {
    font-size: 1.3vw;
    display: none;
}

span.geoMobile {
    display: inline;
    margin-left: 0.5vmin;
    padding-top: 0.1vmin;
    font-size: 3.5vw;
    width: 100%;
    height: 100%;
}

img.bigIcon {
    float: left;
    height: 8.5vw;
    margin-right: 3%;
}

img.smallIcon {
    height: 8vw;
    margin-left: 7%;
}

div.inputBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and  (min-width: 768px) and (max-width: 1250px){
    header {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin: 10px 7% 5px;
    }

    main {
        margin: 10px 7% 5px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 5%;
    }

    .mainMargin {
        margin-bottom: 40px !important;
    }

    div.header {
        width: 68%;
        display: flex;
        align-items: center;
        margin-left: 0;
        margin-right: 0;
    }

    div.geo {
        width: 66.66%;
        height: 50px;
    }

    button.geo {
        height: 100%;
        width: 100%;
        border-radius: 5px;
        padding: 10px 20px;
        font-weight: 400;
    }

    span.geoLaptop {
        display: inline;
    }

    span.geoMobile {
        display: none;
    }

    input {
        font-size: 15px;
    }

    h1 {
        font-size: 20px;
    }

    h2 {
        font-size: 40px;
    }

    h2.fav {
        font-size: 35px;
    }

    h3 {
        font-size: 25px;
    }

    div.mainTemp {
        font-size: 65px;
    }

    span.temp {
        font-size: 25px;
    }

    ul.weatherInfo {
        font-size: 15px;
    }

    button.close {
        font-size: 30px;
        width: 40px;
        height: 40px;
    }

    button.plus {
        font-size: 30px;
        width: 40px;
        height: 40px;
    }

    img.bigIcon {
        float: left;
        height: 65px;
        margin-right: 20px;
    }

    img.smallIcon {
        height: 45px;
        margin-left: 25px;
    }
}

@media screen and (min-width: 1250px) {
    header {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin: 10px 15% 5px;
    }

    main {
        margin: 10px 15% 5px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 5%;
    }

    .mainMargin {
        margin-bottom: 40px !important;
    }

    div.header {
        width: 68%;
        display: flex;
        align-items: center;
        margin-left: 0;
        margin-right: 0;
    }

    div.geo {
        width: 66.66%;
        height: 50px;
    }

    button.geo {
        height: 100%;
        width: 100%;
        border-radius: 5px;
        padding: 10px 20px;
        font-weight: 400;
    }

    span.geoLaptop {
        display: inline;
    }

    span.geoMobile {
        display: none;
    }

    input {
        font-size: 20px;
    }

    h1 {
        font-size: 30px;
    }

    h2 {
        font-size: 40px;
    }

    h2.fav {
        font-size: 35px;
    }

    h3 {
        font-size: 35px;
    }

    div.mainTemp {
        font-size: 70px;
    }

    span.temp {
        font-size: 45px;
    }

    ul.weatherInfo {
        font-size: 20px;
    }

    button.close {
        font-size: 30px;
        width: 40px;
        height: 40px;
    }

    button.plus {
        font-size: 30px;
        width: 40px;
        height: 40px;
    }

    img.bigIcon {
        float: left;
        height: 65px;
        margin-right: 20px;
    }

    img.smallIcon {
        height: 45px;
        margin-left: 25px;
    }
}
