body {
    font-family: Montserrat;
}

main {
    margin: 10px 3% 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

div.tableElement {
    padding: 7px;
    width: 95%;
    margin: 20px 40px 5px;
    border: 3px dotted transparent;
}

.dotted {
    border: black dotted 3px !important;
}

.mainMargin {
    margin-bottom: 40px !important;
}

input {
    border: none;
    color: lightyellow;
    background-color: darksalmon;
    height: 50px;
    width: 70%;
    font-family: inherit;
    font-size: 3vw;
    font-weight: 400;
    padding-left: 12px;
}

input::placeholder {
    color: lightyellow;
}

div.mainCity {
    font-weight: 700;
    font-size: 8vw;
}

div.mainTemp {
    font-weight: 300;
    font-size: 9vw;
}

div.nameBar {
    display: flex;
    font-weight: 700;
    font-size: 6vw;
    margin-bottom: 5px;
}

div.nameBar div {
    align-self: center;
}

div.nameBar span {
    font-weight: 300;
    font-size: 7vw;
    margin-left: 20px;
}

div.weatherInfo {
    font-size: 3vw;
}

div.infoElement {
    display: flex;
    justify-content: space-between;
    color: lightyellow;
    background-color: darksalmon;
    margin-bottom: 4px;
    padding: 6px 12px;
}

div.title {
    font-weight: 400;
    font-size: 6vw;
}

@media screen and (min-width: 1080px) {
    div.tableElement {
        width: 400px;
    }

    input {
        font-size: 20px;
    }

    div.mainCity {
        font-size: 40px;
    }

    div.mainTemp {
        font-size: 50px;
    }

    div.nameBar {
        font-size: 35px;
    }

    div.nameBar span {
        font-size: 45px;
    }

    div.weatherInfo {
        font-size: 20px;
    }

    div.title {
        font-size: 35px;
    }
}
